@charset "UTF-8";
body{
	padding: 0;
	line-height:1.4;
	color:#333;
	font-family:Arial, sans-serif;
	font-size:0.9em;
	background-color: #E4FF8D;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.my-sticky-element.stuck {
        position:fixed;
        top:0;
		left:0;
		right:0;
		background-color: #696969;
        box-shadow:0 2px 4px rgba(0, 0, 0, .3);
		margin: 0 auto;
		font-size:1.1em;
		color:#ffffff;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #000), color-stop(1.00, #303030));
		background: -webkit-linear-gradient(#000, #303030);
		background: -moz-linear-gradient(#000, #303030);
		background: -o-linear-gradient(#000, #303030);
		background: -ms-linear-gradient(#000, #303030);
		background: linear-gradient(#000, #303030);

    }

